body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #506a85;
}
.main-header{
    box-shadow: inset 0 -1px 0 0 #e6e9ed;
}
.contacts{
    background-color: #f5f7fa;
    font-size: 12px;
    line-height: 14px;
    box-shadow: 0 1px 0px 0px #e6e9ed;
}
.contacts .contacts-info{
    line-height: 40px;
    vertical-align: middle;
}
.contacts .contact-mail{
    margin-right: 20px;
}
.contacts .contact-mail:hover{
    text-decoration: none;
    color: #00bc9c;
}
.contacts .icon-mail::before{
    margin-right: 5px;
}
.contacts .icon-mobile::before{
    margin-right: 6px;
}
.social-list{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.social-list li{
    display: inline-block;
}
.social-link{
    display: block;
    padding: 13px 4px;
}
.wrap-facebook:hover{
    background-color: #4668b3;
}
.wrap-gplus:hover{
    background-color: #de5745;
}
.wrap-twitter:hover{
    background-color: #2fbbed;
}
.wrap-pinterest:hover{
    background-color: #d94348;
}
.wrap-behance:hover{
    background-color: #3079ff;
}
.wrap-dribbble:hover{
    background-color: #eb6397;
}
.social-link::before{
    font-size: 12px;
}
.social-link:hover::before{
    color: #ffffff;
    text-decoration: none;
}
.logo-header, .search {
    line-height: 112px;
}
.logo-header:hover img{
    opacity: 0.6;
}
.navbar{
    min-height: 112px;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    display: table;
}
.navbar-nav{
    margin-left: 36px;
}
.navbar-nav>li>a{
    font-weight: 700;
    text-transform: uppercase;
    line-height: 82px;
    padding: 15px 19px;
}
.navbar-default .navbar-nav > li > a{
    color: #506a85;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #506a85;
}
.search{
    text-align: right;
    padding-right: 30px;
}
.icon-search::before{
    font-size: 12px;
    line-height: 12px;
}
.icon-search:hover{
    text-decoration: none;
}
.icon-search:hover::before{
    color: #00bc9c;
}
.carousel-head{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.06em;
}
.carousel-head-size78{
    font-size: 78px;
    line-height: 88px;
}
.carousel-head-size73{
    font-size: 73px;
    line-height: 128px;
}
.carousel-head-size73 span{
    padding: 0 20px;
    display: inline-flex;
    background-color: #506a85;
    margin-bottom: 5px;
}
.caption-text{
    font-size: 24px;
    line-height: 34px;
    color: #a3b1bf;
    letter-spacing: 0.02em;
    padding: 0;
    margin-bottom: 53px;
}
.caption-text-reverse{
    color: #506a85;
}
.btn-carousel{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.025em;
    background-color: #00bc9c;
    padding: 22px 70px;
    box-shadow: 0 2px 0 0 #298983;
}
.btn-carousel:hover{
    background-color: #17a78b;
}
.position-rel{
    position: relative;
}
.caption-1{
    top:28%;
}
.caption-2{
    text-align: right;
    right: 0;
    left: auto;
    top: auto;
    bottom: 210px;
}
.caption-3{
    text-align: left;
    bottom: 200px;
    padding-left: 0;
    left: 0;
    right: auto;
}
.caption-4{
    text-align: right;
    padding-right: 0;
    left: auto;
    right: 0;
    bottom: 300px;
}
.caption-5{
    bottom: 420px;
}
.portfolio h2.text-center{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 0.01em;
    color: #506a85;
    margin-top: 130px;
    margin-bottom: 23px;
}
.portfolio p.text-center{
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0.005em;
    color: #73879c;
    margin-bottom: 38px;
}
.portfolio-items{
    margin-top: 10px;
    margin-bottom: 120px;
}
.portfolio-items h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
}
.portfolio-items p{
    letter-spacing: 0.01em;
    color: #73879c;
}
.portfolio-item::before{
    content: '';
    position: absolute;
    background: url("../img/sprites_who.png");
    width: 61px;
    height:65px;
    left: -73px;
    top: 26px;
}
.portfolio-items .img-heart::before{
    background-position: 0 0;
}
.portfolio-items .img-lamp::before{
    background-position: 121px 0;
}
.portfolio-items .img-star::before{
    background-position: 61px 0;
}
